
div {
  display: flex;
}
.trapezoid {
  height: 70px;
  width: 80%;
  align-items: center;
  background-color: #ccc;
  clip-path: polygon(auto 0, 100% 0, 80% 100%, 20% 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
}
.tittle {
  margin: 0 auto;

}
